.project-card {
  display: flex;
  flex-direction: column;
  /* grid-template-columns: 1fr auto; */
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;

  width: 100%;
  background-color: #f5f7fa;
  /* background: var(--bg-light); */
  outline: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 20px;
  margin-bottom: 10px;
  /* cursor: pointer; */
  transition: all 0.2s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.project-card-content-wrapper {
  display: flex;
  width: 100%;
  gap: 20px;
}

.project-card-content {
  flex: 1;
  min-width: 400px;
}

.project-card-compact .project-card-content {
  min-width: auto;
}

.project-card.active {
  background: #ecf2fd;
  outline: 3px solid var(--border-color);
  /* color: white; */
  /* border-color: var(--primary-color); */
}

.project-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  outline-color: var(--main-color);
}

.project-card-header {
  margin-bottom: 10px;
}

.project-card-title {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
  color: var(--primary-text);
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.project-card-title:hover {
  color: var(--main-color); /* ✅ цвет при наведении */
}

.project-card-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;
}

.project-card-btn {
  align-self: flex-start;
}
.project-card-description {
  /* margin-top: 10px; */
  margin-bottom: 10px;
  color: var(--primary-text);
  font-size: 14px;
}

.project-card-meta {
  /* grid-column: 1 / -1; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  color: var(--secondary-text);
}

.project-card-meta_list {
  display: flex;
  column-gap: 40px;
  row-gap: 10px;
  flex-wrap: wrap;
}

.project-card-meta_item {
  display: flex;
  gap: 15px;

}

.project-card-meta_item dt {
  font-weight: 500;
}

.project-card-meta_item dd {
  color: var(--primary-text);
}

.project-card-meta span {
  display: flex;
  align-items: center;
}
