/* Fonts */
@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Inter-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/Inter-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src: url("../../fonts/Inter-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 300;
  font-style: normal;
  src: url("../../fonts/ProximaNova-Light.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/ProximaNova-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-style: normal;
  src: url("../../fonts/ProximaNova-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/ProximaNova-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  font-style: normal;
  src: url("../../fonts/OpenSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;
  src: url("../../fonts/OpenSans-SemiBold.woff2") format("woff2");
}
